@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
/* обнуление общих параметров */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
section,
header,
footer {
  display: block;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 320px;
  width: 100%;
  background: #fff;
  color: #000;
}

input,
button,
textarea {
  font-family: "Open Sans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* / обнуление общих параметров */
body {
  line-height: 1.25;
  font-size: 12px;
  font-family: "Open Sans";
  position: relative;
  width: 100%;
  overflow-x: hidden;
  font-weight: 600;
}

.wrapper {
  width: 100%;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 0px;
}

.row {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
  justify-content: space-between;
}

.justify-content-between {
  justify-content: space-between;
}

.none {
  display: none !important;
}

.body-fixed {
  position: fixed;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ibg img.ibg-img {
  display: none;
}

li.counter {
  list-style-type: none;
  counter-reset: item;
}
li.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}
li.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}
.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.3);
}
.header .top_header {
  padding: 10px 10px;
}
.header .top_header .back {
  font-size: 16px;
  display: flex;
  align-items: center;
}
.header .top_header svg {
  width: 25px;
  height: 20px;
  margin-right: 20px;
}
.header .bottom_header {
  display: flex;
}
.header .bottom_header .button {
  text-transform: uppercase;
  cursor: pointer;
  width: 50%;
  text-align: center;
  border-bottom: 1px solid transparent;
  padding: 15px 10px;
  transition: border-bottom-color 0.4s;
}
.header .bottom_header .button.active {
  color: #8dc641;
  border-bottom: 2px solid #8dc641;
}

input.error,
textarea.error {
  border-color: red;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.popup__opas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup__wrapp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 3px;
  z-index: 9999;
  padding: 20px;
  max-width: 460px;
  width: 100%;
}

.popup__close {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: -30px;
  right: -30px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  transition: 0.4s;
  cursor: pointer;
  background: #fff url(../img/svg/close.svg) 50% 50%/65% no-repeat;
}

@media (max-width: 1200px) {
  /**/
}
@media (max-width: 1024px) {
  /**/
}
@media (max-width: 992px) {
  /**/
}
@media (max-width: 768px) {
  /**/
}
@media (max-width: 480px) {
  /**/
}
@media (max-width: 360px) {
  /**/
}
.content_1, .content_2, .content_3 {
  display: none;
  padding-top: 100px;
  padding-bottom: 5px;
  height: 100vh;
}
.content_1.active, .content_2.active, .content_3.active {
  display: block;
}

.content_1 .card_inner {
  padding: 0 10px;
}
.content_1 .card {
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
.content_1 .card .card_top {
  display: flex;
  margin-bottom: 10px;
}
.content_1 .card .card_top .txt {
  font-size: 12px;
  margin-bottom: 5px;
}
.content_1 .card .card_top .img_block {
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.3);
  width: 55px;
  height: 60px;
  margin-right: 15px;
  padding: 3px 5px;
}
.content_1 .card .card_top .img_block img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.content_1 .card .card_center {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content_1 .card .card_center .number {
  font-size: 24px;
  margin-bottom: 5px;
}
.content_1 .card .card_center .img_block {
  border-radius: 5px;
  padding: 3px 5px;
  width: 120px;
  height: 125px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
}
.content_1 .card .card_center .img_block img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.content_1 .card .card_center .type {
  font-size: 10px;
  color: #818181;
}
.content_1 .card .card_bottom {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.content_1 .card .card_bottom .title {
  font-size: 10px;
  color: #818181;
}
.content_1 .card .card_bottom .item {
  font-size: 14px;
}
.content_1 .card .card_bottom .info_block {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content_1 .card .timer {
  width: max-content;
  margin: 0 auto;
  color: #8dc641;
  font-weight: 700;
  font-size: 18px;
}
.content_1 .card .warning {
  color: #8dc641;
  text-align: center;
  font-size: 10px;
  margin-bottom: 10px;
  letter-spacing: -0.5px;
}
.content_1 .card .grey {
  color: #818181;
}
.content_1 .last div {
  color: #818181;
  filter: grayscale(100%);
}

.content_2 .input_block {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content_2 .input_block .block_input {
  display: flex;
  flex-direction: column-reverse;
  width: 50%;
}
.content_2 .input_block .block_input .text {
  color: #cccccc;
  transition: 0.4s;
  margin-bottom: 5px;
}
.content_2 .input_block .block_input .input {
  width: 100%;
  border: 1px solid #dddddd;
  padding: 10px 10px;
  margin-bottom: 15px;
}
.content_2 .input_block .block_input .input::placeholder {
  transition: 0.2s;
  color: #cccccc;
}
.content_2 .input_block .block_input .input:active::placeholder, .content_2 .input_block .block_input .input:focus::placeholder {
  opacity: 0;
}
.content_2 .input_block .block_input .input:active + .text, .content_2 .input_block .block_input .input:focus + .text {
  color: #222222;
}
.content_2 .input_block .btn_ok {
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  padding: 10px;
  width: 50%;
  text-align: center;
  background-color: #8dc641;
}

.content_3 .block {
  margin: 0 10px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.3);
  padding: 15px;
  border-radius: 3px;
  width: calc(100% - 20px);
}
.content_3 .block_inner {
  padding-left: 15%;
}
.content_3 .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.content_3 .input_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content_3 .btn_block {
  display: flex;
}
.content_3 .text {
  font-size: 14px;
}
.content_3 .title {
  font-size: 10px;
  margin-bottom: 10px;
  color: #818181;
}
.content_3 .input_wrap {
  position: relative;
  width: 70%;
}
.content_3 .input {
  color: #8dc641;
  font-size: 24px;
  border-bottom: 1px solid #bbbbbb;
  width: 100%;
}
.content_3 .сount {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #818181;
  font-weight: 300;
}
.content_3 .num {
  font-size: 12px;
  margin-right: 3px;
  font-weight: 300;
}
.content_3 .num .big {
  font-size: 14px;
  font-weight: 400;
}
.content_3 .val {
  font-size: 10px;
  color: #818181;
}
.content_3 .btn {
  border: 2px solid #8dc641;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  position: relative;
}
.content_3 .btn:after, .content_3 .btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #8dc641;
}
.content_3 .btn:after {
  height: 2px;
  width: 10px;
}
.content_3 .btn:before {
  height: 10px;
  width: 2px;
}
.content_3 .minus:before {
  display: none;
}
.content_3 .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.content_3 .info {
  width: calc(100% - 20px);
  margin: 0 10px;
}
.content_3 .info_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: flex-end;
}
.content_3 .final_num {
  color: #8dc641;
  font-size: 18px;
}
.content_3 .final_num .big {
  font-size: 24px;
}
.content_3 .final_val {
  margin-left: 5px;
  color: #818181;
}
.content_3 .card_line {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #818181;
  padding: 0 20px 5px 4px;
  margin-bottom: 10px;
}
.content_3 .card_number {
  font-weight: 300;
}
.content_3 .card_arrow {
  margin-left: 20px;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #818181;
}
.content_3 .btn_buy {
  text-align: center;
  background-color: #8dc641;
  color: #ffffff;
  padding: 10px;
  font-size: 14px;
}