// <ПОДКЛЮЧЕНИЕ MIXIN>------------------------------------------------------
@import "mixin.scss";
// <ПОДКЛЮЧЕНИЕ MIXIN>------------------------------------------------------

// <ШРИФТЫ>-----------------------------------------------------------------

// <подключаем шрифты>------------------------------------------------------
@import "fonts.scss";
// </подключаем шрифты>-----------------------------------------------------

// <шрифт по умолчанию>-----------------------------------------------------
$font-family: 'Open Sans';
// </шрифт по умолчанию>----------------------------------------------------

// </ШРИФТЫ>----------------------------------------------------------------
// <ПЕРЕМЕННЫЕ>-------------------------------------------------------------
$max-width: 500;
$min-width: 320;
$body-font-size: 14;
$padd-container: 0;
$color_1: #8dc641;
// </ПЕРЕМЕННЫЕ>------------------------------------------------------------

// <ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>---------------------------------------------
@import "resize-style.scss";
// </ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>---------------------------------------------

// <BODY>--------------------------------------------------------------------
body {
    line-height: 1.25;
    font-size: $body-font-size+px;
    font-family: $font-family;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

// </BODY>--------------------------------------------------------------------

// <ОБОЛОЧКА>----------------------------------------------------------------
.wrapper {
    width: 100%;
}

// </ОБОЛОЧКА>---------------------------------------------------------------

// <КОНТЕЙНЕР>---------------------------------------------------------------
.container {
    max-width: $max-width+px;
    margin: 0 auto;
    padding: 0 $padd-container+px;
    //background-color: rgba($color: #000000, $alpha: 0.2);
}

// </КОНТЕЙНЕР>--------------------------------------------------------------

// <ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>---------------------------
@import "class.scss";
// </ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>--------------------------

// <ШАПКА>-------------------------------------------------------------------
@import 'header.scss';
// </ШАПКА>------------------------------------------------------------------

// <ОСНОВНОЙ БЛОК>-----------------------------------------------------------

input,
textarea {
    &.error {
        border-color: red;
    }
}

// </ОСНОВНОЙ БЛОК>----------------------------------------------------------

// <404>---------------------------------------------------------------------
//===========================================================================
// </404>--------------------------------------------------------------------

// <ПОДВАЛ>------------------------------------------------------------------
@import "footer.scss";
// </ПОДВАЛ>-----------------------------------------------------------------

// <ПОПАП>-------------------------------------------------------------------
@import "popup.scss";
// </ПОПАП>------------------------------------------------------------------

// <ПРОКРУТКА ВВЕРХ>---------------------------------------------------------

// </ПРОКРУТКА ВВЕРХ>--------------------------------------------------------

// <ПОДКЛЮЧЕНИЕ МЕДИАЗАПРОСОВ>-----------------------------------------------
@import "media.scss";
// </ПОДКЛЮЧЕНИЕ МЕДИАЗАПРОСОВ>---------------------------------------------



.content_1,.content_2{
    display: none;
    padding-top: 100px;
    padding-bottom: 20px;
    min-height: 90vh;
    &.active{
        display: block;
    }


}

.input_block{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .block_input{
        display: flex;
        flex-direction: column-reverse;
        width: 50%;
        .text{
            color: #cccccc;
            transition: 0.4s;
            margin-bottom: 5px;
        }
        .input{
            width: 100%;
            border: 1px solid #dddddd;
            padding: 10px 10px;
            margin-bottom: 15px;
            &::placeholder{
                transition: 0.2s;
                color: #cccccc;
            }
            &:active,&:focus{
                &::placeholder{
                    opacity: 0;
                }
                &+.text{
                    color: #222222;
                }
            }

        }
    }
    .btn_ok{
        font-size: 16px;
        font-weight: 700;
        color: #FFFFFF;
        padding: 10px;
        width: 50%;
        text-align: center;
        background-color: $color_1;
    }
}

.card_inner{
    padding: 0 10px;
}

.card{
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 2px 4px 0px rgba(0,0,0,0.3);
    border-radius: 3px;
    .card_top{
        display: flex;
        margin-bottom: 10px;
        .txt{
            font-size: 12px;
            margin-bottom: 5px;
        }
        .img_block{
            border-radius: 3px;
            overflow: hidden;
            box-shadow: 0 0px 3px 0px rgba(0,0,0,0.3);
            width: 55px;
            height: 60px;
            margin-right: 15px;
            padding: 3px 5px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

        }
    }
    .card_center{
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .number{
            font-size: 24px;
            margin-bottom: 5px;
        }
        .img_block{
            width: 130px;
            height: 135px;
            background-color: #4274bb;
            box-shadow: 0 2px 4px 0px rgba(0,0,0,0.3);
            margin-bottom: 15px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .type{
            font-size: 8px;
            color: #818181;
        }
    }
    .card_bottom{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        .title{
            font-size: 12px;
            color: #818181;
        }
        .info_block{
            width: calc(100% / 3);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content:center;
        }
    }
    .timer{
        width: max-content;
        margin: 0 auto;
        color: $color_1;
        font-weight: 700;
        font-size: 18px;
    }
    .warning{
        color: $color_1;
        text-align: center;
        font-size: 10px;
        margin-bottom: 10px;
    }
}

.last{
    div{
        color: #818181;
        filter: grayscale(100%);
    }
}
